<h1>Reset password</h2>

<%= form_with model: @user, url: "/forgot_password", method: :patch do |form| %>
    <div>
        <%= form.label :email %>
        <%= form.text_field :email %>
    </div>
    <div>
        <%= form.label :password %>
        <%= form.password_field :password %>
    </div>
    <div>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation %>
    </div>
    <%= form.submit "Submit", method: :patch %>
<%end%>