<%= stylesheet_link_tag "table.css" %>


<h3>Shifts</h3>
<table>
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Shift Date</th>
            <th>Start Time</th>
            <th>Finish Time</th>
            <th>Break Length</th>
            <th>Hours Worked</th>
            <th>Shift Cost</th>
        </tr>
    </thead>

    <tbody>
        <% @beautified_shifts.each do |shift| %>
            <tr>
                <td><%= shift["name"] %></td>
                <td><%= shift["date"] %></td>
                <td><%= shift["start"] %></td>
                <td><%= shift["finish"] %></td>
                <td><%= shift["break"] %></td>
                <td><%= shift["hours"] %></td>
                <td><%= shift["shift_cost"] %></td>
            </tr>
        <% end %>
    </tbody>
</table>