<%= stylesheet_link_tag "table.css" %>

<h2><%= @organization.name %></h2>

<h3>Shifts</h3>
<table>
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Shift Date</th>
            <th>Start Time</th>
            <th>Finish Time</th>
            <th>Break Length in Minutes</th>
            <th>Hours Worked</th>
            <th>Shift Cost</th>
        </tr>
    </thead>

    <tbody>
        <% @beautified_shifts.each do |shift| %>
            <tr>
                <td><%= shift["name"] %></td>
                <td><%= shift["date"] %></td>
                <td><%= shift["start"] %></td>
                <td><%= shift["finish"] %></td>
                <td><%= shift["break"] %></td>
                <td><%= number_with_precision(shift["hours"], :precision => 2).to_s %></td>
                <td>$<%= number_with_precision(shift["shift_cost"], :precision => 2).to_s  %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= link_to "Create a new shift", new_user_organization_shift_path %>